@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Red+Hat+Text:wght@400;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.anska {
    scroll-behavior: smooth;
    font-family: 'Red Hat Text', sans-serif;
}

.anska a, .anska a:visited, .anska a:hover {
    color: #fff;
    text-decoration: none;
}

.anska .container-fluid {
    padding-left: 5em;
    padding-right: 5em;
}

.anska .row {
    height: 100%;
    font-size: 1.2em;
    color: #fff;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

.hide-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.custom-slide  {
    height:100vh;
    width:100vw;
    position:relative;
}

.custom-wrapper {
    display:flex;
    width:1200vw;
    transform:rotate(90deg) translateY(-100vh);
    transform-origin:top left;
    background-color:#333;

}

.custom-container{
    height:100vw;
    width:100vh;
    transform:rotate(-90deg) translateX(-100vh);
    transform-origin:top left;
    position:absolute;
    overflow-x:hidden;
    overflow-y:scroll;
}

.custom-layer {
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    background-size: cover;
}

.anska h1 {
    font-family: 'Kaisei Opti', serif;
}

.anska h2 {
    font-size: 3em;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
}

.anska h3 {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
}
.anska .custom-wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anska .custom-wrapper .hero-slide .row {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.anska .custom-wrapper .hero-slide .row .hero-title h1 {
    font-size: 10em;
}

.custom-navbar {
    padding-top: 3em;
}

.anska .custom-wrapper .conclusion-slide .row .nav-arrow,
.anska .custom-wrapper .hero-slide .row .nav-arrow {
    display: flex;
    justify-content: center;
}

.anska .custom-wrapper .custom-slide .row .day-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3em;
}

.anska .custom-wrapper .custom-slide .row .block-right {
    display:flex;
    justify-content: center;
    align-items: center;
}

.anska .custom-slide .block-right {
    display: flex;
    flex-direction: column;
}
.anska .temp-map {
    height: 80vh;
    width: 100vh;
}

/* --------- DEER DEATHS --------- */
@property --num-one {
    syntax: "<integer>";
    initial-value: 2200;
    inherits: false;
}

.deer-deaths{
    animation: counter 5s ease-in-out 0s 1 normal forwards;;
    counter-reset: num-one var(--num-one);
    padding: 2rem;
}
.deer-deaths::after {
    content: counter(num-one);
}

@keyframes counter {
    from {
        --num-one: 2200;
    }
    to {
        --num-one: 2300;
    }
}

/* --------- Persons hospital --------- */
@property --num-two {
    syntax: "<integer>";
    initial-value: 2200;
    inherits: false;
}

.persons-hospital{
    animation: counter 5s ease-in-out 0s 1 normal forwards;;
    counter-reset: num-two var(--num-two);
    padding: 2rem;
}
.persons-hospital::after {
    content: counter(num-two);
}

@keyframes counter {
    from {
        --num-two: 0;
    }
    to {
        --num-two: 90;
    }
}

/* --------- Children Hospital --------- */
@property --num-three {
    syntax: "<integer>";
    initial-value: 2200;
    inherits: false;
}

.children-hospital{
    animation: counter 5s ease-in-out 0s 1 normal forwards;;
    counter-reset: num-three var(--num-three);
    padding: 2rem;
}
.children-hospital::after {
    content: counter(num-three);
}

@keyframes counter {
    from {
        --num-three: 0;
    }
    to {
        --num-three: 90;
    }
}

/* --------- Persons deaths --------- */
@property --num-four {
    syntax: "<integer>";
    initial-value: 2200;
    inherits: false;
}

.human-deaths{
    animation: counter 5s ease-in-out 0s 1 normal forwards;;
    counter-reset: num var(--num-four);
    padding: 2rem;
}
.human-deaths::after {
    content: counter(num-four);
}

@keyframes counter {
    from {
        --num-four: 0;
    }
    to {
        --num-four: 1;
    }
}
@media screen and (min-width: 1920px) {
    .anska .custom-wrapper .custom-slide .row .block-left,
    .anska .custom-wrapper .custom-slide .row .block-right {
        max-width: 70%;
        padding-left: 3em;
        padding-right: 3em;
    }
}